/* :: 6.16.0 Blog Details */

.single-blog-thumbnail {
    position: relative;
    z-index: 1;
    width: 100%;

    .blog-hero-img {
        max-height: 500px;
        object-fit: cover;
    }

    .post-bookmark {
        width: 36px;
        height: 36px;
        position: absolute;
        z-index: 10;
        top: 1.5rem;
        right: 1.5rem;
        background-color: $primary;
        border-radius: 50%;
        text-align: center;
        color: $white;
        font-size: 1rem;

        i {
            line-height: 36px;
        }

        &:hover,
        &:focus {
            color: $white;
            background-color: $dark-primary;
        }
    }
}

.single-blog-info {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: -50px;
    background-color: $white;
    border-radius: 2rem 2rem 0 0;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;

    .post-like-wrap {
        flex: 0 0 75px;
        max-width: 75px;
        width: 75px;
        text-align: center;
        padding: 1rem 0;
        background-color: $gray;
        border-radius: 0.25rem;

        span {
            font-size: 12px;
            text-transform: uppercase;
            color: $text;
            margin-top: 0.5rem;
        }

        .line {
            display: block;
            width: 30px;
            height: 2px;
            background-color: $green;
            margin: 0.5rem auto 0.75rem;
        }
    }

    .post-content-wrap {
        position: relative;
        z-index: 1;
        padding-left: 1rem;
    }

    .post-share {
        width: 30px;
        height: 30px;
        background-color: $yellow;
        border-radius: 50%;
        text-align: center;
        color: $white;
        font-size: 1rem;
        z-index: 10;
        display: block;
        margin: 0 auto;

        i {
            line-height: 30px;
        }

        &:hover,
        &:focus {
            color: $white;
            background-color: $primary;
        }
    }

    .post-meta a {
        color: $text;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 500;
        margin-right: 1rem;

        &:hover,
        &:focus {
            color: $primary;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .post-catagory {
        padding: 0.125rem 0.75rem;
        font-size: 12px;
        color: $white;
        border-radius: 3rem;
        background-color: $green;

        &:hover,
        &:focus {
            background-color: $dark-primary;
        }
    }

    .post-love {
        width: 30px;
        height: 30px;
        background-color: $purple;
        border-radius: 50%;
        text-align: center;
        color: $white;
        margin: 0 auto;
        font-size: 1rem;

        i {
            line-height: 32px;
        }

        &:hover,
        &:focus {
            background-color: $heading;
        }
    }
}

.related-post-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 28px;
    padding-bottom: 30px;
}

.blog-description {
    position: relative;
    z-index: 1;
    padding-bottom: 12px;
}

#scrollIndicator {
    position: fixed;
    height: 2px;
    background-color: $primary;
    bottom: 58px;
    z-index: 100;
}

.social-share-btn {
    a {
        flex: 0 0 40px;
        max-width: 40px;
        width: 40px;
        height: 40px;
        display: block;
        margin: 0.5rem;
        border-radius: 50%;
        border: 2px solid $border;
        text-align: center;

        i {
            line-height: 36px;
        }

        &:hover,
        &:focus {
            transform: translate(-5px);
        }

        &.btn-facebook {
            color: #3b5998;
            border-color: #3b5998;
        }

        &.btn-twitter {
            color: #00acee;
            border-color: #00acee;
        }

        &.btn-instagram {
            color: #3f729b;
            border-color: #3f729b;
        }

        &.btn-whatsapp {
            color: #4FCE5D;
            border-color: #4FCE5D;
        }

        &.btn-linkedin {
            color: #0e76a8;
            border-color: #0e76a8;
        }

        &.btn-tumblr {
            color: #34526f;
            border-color: #34526f;
        }

        &.btn-quora {
            color: #B92B27;
            border-color: #B92B27;
        }
    }
}