/* :: 6.18.0 Comment */

.live-video-comments {
    position: relative;
    z-index: 1;
    padding-top: 25px;
    padding-bottom: 4px;
}

.comment-sorting-option {
    position: relative;
    z-index: 2;

    .btn {
        background-color: $gray;
        padding: 0.125rem 0.5rem 0.1rem;
        text-align: center;
        font-size: 1rem;
        color: $heading;
        line-height: 1;
        border-radius: 2rem;

        &::after {
            display: none;
        }

        &:hover,
        &:focus {
            background-color: $primary;
            color: $white;
        }
    }

    .dropdown-menu {
        border: 1px solid $border;
        min-width: 140px;
        max-width: 180px;
        box-shadow: 0 2px 12px rgba(15, 16, 19, 0.175);

        .dropdown-item {
            padding: .25rem 0.75rem;
            color: $heading;
            font-size: 13px;
            font-weight: 500;

            &:hover {
                background-color: $gray;
            }
        }
    }
}

.single-comment-wrap {
    position: relative;
    z-index: 1;

    .comment-author {
        flex: 0 0 40px;
        max-width: 40px;
        width: 40px;
        border-radius: 50%;

        img {
            border-radius: 50%;
        }
    }

    .comment-meta {
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
        width: calc(100% - 40px);
        padding-left: 1rem;

        .comments-author-name {
            font-size: 14px;
            margin-bottom: 0.25rem;
        }

        .post-date {
            display: block;
            font-size: 12px;
            color: $text;
            font-weight: 400;
        }

        .comment-text {
            font-size: 14px;
            color: $text;
            margin-bottom: 0.5rem;
        }

        .like-count {
            span {
                font-size: 14px;
            }

            a {
                font-size: 14px;
                display: inline-block;
                color: $text;
                border: 1px solid $border;
                width: 30px;
                height: 30px;
                text-align: center;
                border-radius: 50%;
                margin-left: 0.5rem;

                i {
                    line-height: 29px;
                }

                &:hover,
                &:focus {
                    color: $white;
                    background-color: $purple;
                    border-color: $purple;
                }
            }
        }

        .reply {
            font-size: 12px;
            color: $text;
            font-weight: 700;

            &:hover {
                color: $blue;
            }
        }
    }
}

.children-comments-list {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid $border;
}

.comment-form {
    position: relative;
    z-index: 1;
    margin-bottom: 2rem;

    textarea {
        border-radius: 0.5rem;
        width: 100%;
        height: auto;
        background-color: $gray;
        color: $heading;
        font-size: 13px;
        border: 0;
        padding: 0.75rem 1rem;
    }

    button {
        transition-duration: 500ms;
        outline: none;
    }

    &.reply-comment-form {
        transition-duration: 500ms;
        position: fixed;
        width: calc(100% - 2rem);
        margin-bottom: 0;
        transform: translateX(-50%);
        left: 50%;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        bottom: 74px;

        @media #{$breakpoint-xl} {
            max-width: 620px;
        }
    
        @media #{$breakpoint-lg} {
            max-width: 520px;
        }
    
        @media #{$breakpoint-md} {
            max-width: 520px;
        }
    
        @media #{$breakpoint-xs} {
            max-width: 420px;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }

        textarea {
            border-radius: 0.375rem;
            height: 140px;
            font-size: 12px;
            padding: 0.5rem 1rem;
            border: 1px solid $border;
            background-color: $white;
            box-shadow: 0 2px 24px rgba(16, 13, 209, 0.175);

            &:focus,
            &:focus-visible {
                box-shadow: none;
                outline: 0;
            }
        }

        button {
            position: absolute;
            width: calc(100% - 2rem);
            left: 1rem;
            right: 1rem;
            bottom: 0.5rem;
        }
    }
}