/* :: 6.9.0 Footer */

.footer-nav-area {
    transition-duration: 500ms;
    background-color: $white;
    width: 100%;
    height: 58px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 -2px 12px rgba(116, 119, 148, 0.175);
}

.newsten-footer-nav {
    ul {
        width: 100%;

        li {
            flex: 0 0 20%;
            max-width: 20%;
            width: 20%;
            position: relative;
            z-index: 1;
            height: 100%;

            a {
                position: relative;
                z-index: 1;
                display: block;
                text-align: center;
                font-weight: 700;
                text-transform: capitalize;
                line-height: 1;
                color: $text;
                height: 100%;

                &::after {
                    transition-duration: 400ms;
                    position: absolute;
                    min-width: 24px;
                    width: 50%;
                    transform: translateX(-50%) ;
                    height: 3px;
                    content: "";
                    bottom: -5px;
                    left: 50%;
                    z-index: 10;
                    background-color: $primary;
                    opacity: 0;
                    visibility: hidden;
                }

                i {
                    font-size: 1.375rem;
                    line-height: 58px;
                }

                &:hover,
                &:focus {
                    color: $primary;

                    &::after {
                        opacity: 1;
                        visibility: visible;
                        bottom: 0;
                    }
                }
            }

            &.active {
                a {
                    color: $primary;

                    &::after {
                        opacity: 1;
                        visibility: visible;
                        bottom: 0;
                    }
                }
            }
        }
    }
}