/* :: 6.8.0 Hero */

.intro-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.get-started-btn {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.hero-slides {
    position: relative;
    z-index: 1;

    .single-hero-slide {
        .background-shape {
            .circle2 {
                transition-duration: 1500ms;
                transition-delay: 1s;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: rgba(244, 245, 255, 0.1);
                position: absolute;
                top: -400px;
                right: -400px;
                z-index: 1;
            }

            .circle3 {
                transition-duration: 1000ms;
                transition-delay: 1s;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background-color: rgba(244, 245, 255, 0.1);
                position: absolute;
                top: -400px;
                right: -400px;
                z-index: 2;
            }
        }
    }

    .active {
        .single-hero-slide {
            .background-shape {
                .circle2 {
                    top: -190px;
                    right: -170px;
                }

                .circle3 {
                    top: -70px;
                    right: -220px;
                }
            }
        }
    }
}

.single-hero-slide {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center center;
    border-radius: 1.5rem;
    overflow: hidden;

    &::after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $dark-primary;
        opacity: 0.55;
        content: "";
        position: absolute;
        border-radius: 1.5rem;
    }

    .slide-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .bookmark-post {
        position: absolute;
        z-index: 99;
        top: 1rem;
        right: 1rem;
        color: $white;
        font-size: 1.25rem;

        &:hover,
        &:focus {
            color: $yellow;
        }
    }

    .post-catagory {
        padding: 0.25rem 0.75rem;
        background-color: $primary;
        font-size: 12px;
        color: $white;
        margin-bottom: 0.5rem;
        display: inline-block;
        font-weight: 500;
        border-radius: 30px;

        &:hover,
        &:focus {
            background-color: $green;
            color: $white;
        }
    }

    .post-title {
        font-size: 1.25rem;
        color: $white;
        margin-bottom: .5rem;

        &:hover,
        &:focus {
            text-decoration: underline;
            color: $yellow;
        }
    }

    .post-meta {

        a,
        span {
            font-size: 12px;
            font-weight: 500;
            color: $white;
            margin-right: 1rem;

            i {
                color: $yellow;
                font-size: 14px;
            }
        }

        a {

            &:hover,
            &:focus {
                color: $yellow;
            }
        }
    }

    .video-icon {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 42;
    }
}