/* :: 6.22.0 Settings */

.settings-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.settings-card {
    margin-bottom: 1rem;
    background-color: $gray;

    &:last-child {
        margin-bottom: 0;
    }
}

.single-settings {
    position: relative;
    z-index: 1;

    .title {
        font-size: 14px;
        display: flex;
        align-items: center;

        i {
            display: inline-block;
            color: $blue;
            font-size: 1rem;
            margin-right: 0.5rem;
        }

        span {
            span {
                font-size: 10px;
                margin-left: 0.25rem;
            }
        }
    }

    .data-content {
        font-size: 12px;
        font-weight: 700;

        a {
            display: flex;
            align-items: center;
        }

        i {
            margin-left: 0.25rem;
            font-size: 1rem;
        }
    }

    .toggle-button-cover {
        position: relative;
        z-index: 1;
        box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.125);
        border-radius: 20px;
    }

    .knobs,
    .layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .button.r {
        position: relative;
        width: 45px;
        height: 21px;
        overflow: hidden;
        border: 1px solid $white;
    }

    .button.r,
    .button.r .layer {
        border-radius: 100px;
    }

    .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .knobs {
        z-index: 2;
    }

    .layer {
        width: 100%;
        background-color: transparent;
        transition: 0.3s ease all;
        z-index: 1;
    }

    .knobs:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 15px;
        height: 15px;
        background-color: $blue;
        border-radius: 50%;
        transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
    }

    .checkbox:active+.knobs:before {
        width: 45px;
        border-radius: 100px;
    }

    .checkbox:checked:active+.knobs:before {
        margin-left: -26px;
    }

    .checkbox:checked+.knobs:before {
        content: '';
        left: 24px;
        background-color: $primary;
    }

    .checkbox:checked~.layer {
        background-color: $white;
    }
}