/* :: 6.2.0 Shortcodes */

.h-100vh {
    height: 100vh !important;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-overlay {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        background: $primary;
        background: -webkit-linear-gradient(to left, $primary, #0862fb);
        background: linear-gradient(to left, $primary, #0862fb);
        opacity: 0.85;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
}

.bg-gray {
    background-color: $gray !important;
}

.btn,
.btn:hover,
.btn:focus {
    font-weight: 500;
    box-shadow: none;
}

.btn {
    padding: .375rem 1rem;
    font-size: 0.85rem;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: .75rem 1.25rem;
    font-size: 1rem;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .75rem;
    font-size: .75rem;
}

.btn-warning {
    color: $heading;
    background-color: $yellow;
    border-color: $yellow;

    &:hover,
    &:focus {
        color: $white;
        background-color: $heading;
        border-color: $heading;
    }
}

.btn-danger {
    background-color: $purple;
    border-color: $purple;

    &:hover,
    &:focus {
        background-color: $heading;
        border-color: $heading;
        color: $white;
    }
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;

    &:hover,
    &:focus {
        background-color: $heading;
        border-color: $heading;
        color: $white;
    }
}

.btn-success {
    background-color: $green;
    border-color: $green;

    &:hover,
    &:focus {
        background-color: $heading;
        border-color: $heading;
        color: $white;
    }
}

.btn-info {
    background-color: #21d6f1;
    border-color: #21d6f1;

    &:hover,
    &:focus {
        background-color: $heading;
        border-color: $heading;
        color: $white;
    }
}

.bg-primary,
.badge-primary {
    background-color: $primary !important;
}

.bg-danger,
.badge-danger {
    background-color: $purple !important;
}

.bg-warning,
.badge-warning {
    background-color: $yellow !important;
    color: $heading;
}

.bg-info,
.badge-info {
    background-color: #21d6f1 !important;
}

.bg-success,
.badge-success {
    background-color: $green !important;
}

.text-dark {
    color: $heading !important;
}

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 1rem;

    h6 {
        margin-bottom: 0;
        color: $text;
    }

    p {
        margin-bottom: 0;
    }
}

.card {
    border-color: $border;
    border-radius: 0.5rem;

    .card-body {
        padding: 0.75rem;
    }
}

.card-img-top {
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);
}

.card-img-bottom {
    border-bottom-left-radius: calc(.5rem - 1px);
    border-bottom-right-radius: calc(.5rem - 1px);
}

.border,
.border-left,
.border-right,
.border-bottom,
.border-top {
    border-color: $border !important;
}

.mfp-iframe-holder .mfp-content {
    max-width: 1100px;
}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}

.progress {
    height: 0.75rem;
}