// Fonts
$fonts: 'DM Sans', sans-serif;

// Primary Color
$primary: #e42f08;

// Hover Color
$hover: #d02905;

// White Color
$white: #ffffff;

// Secondary Color
$secondary: #ffe4de;

// Dark Color
$dark: #090909;

// Heading Color
$heading: #020b10;

// Text Color
$text: #797494;

// Text Gray Color
$text-gray: #c2d4f8;

// Border Color
$border: #e6e6e6;

// Gray Background
$gray: #fff3f0;

// Green Background
$green: #00b894;

// Yellow Background
$yellow: #ffaf00;

// Purple Background
$purple: #ea4c62;

// Blue Background
$blue: #100DD1;

// Dark Primary
$dark-primary: #0C153B;

// Dark Secondary
$dark-sec: #242644;